@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lato', sans-serif;
}
@layer components {
    .heroButton {
        @apply px-5 mx-1 py-2 border border-[#0d9488] rounded-full uppercase text-xs
        tracking-widest text-gray-500 transition-all hover:border-[#0f766e]/90
        hover:bg-[#0f766e] hover:text-white   
    }
    .card {
        @apply px-6 rounded-lg border-2 border-gray-500 text-sm
        tracking-widest text-gray-500 transition-all hover:border-[#0f766e]
    }
}

.contactForm {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
}

.contactForm input, .contactForm textarea {
    border: 2px solid rgb(197, 197, 197);
    border-radius: 5px;
    padding: 10px;
    resize: vertical;
    outline: none;
    box-sizing: content-box;
    margin: 10px 0;
    background-color: transparent;
}

.contactForm label {
    font-weight: 600;
}

.contactForm input:focus, .contactForm textarea:focus {
    border: solid 2px rgb(241, 241, 241);
}
.submitBtn {
    background: rgba(7, 99, 117, 0.637);
}
@media screen and (max-width: 600px) {
    .aboutText h4 {
        font-size: 20px;
    }
    .aboutText p {
        font-size: 12px;
    }
    .contactForm {
        width: 95%;
    }
}
@media screen and (max-width: 500px) {
    .heroText .btnDiv {
        opacity: 0;
    }
    .aboutText h4 {
        opacity: 0;
    }
    .aboutText p {
        font-size: 15px;
        padding: 0px;
    }
    .skills {
        display: none;
    }
    .skillsResp {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .hover-img {
        max-width: 99%;
        min-width: 99%;
    }
}
@media screen and (max-width: 299px) {
    .aboutText p {
        font-size: 13px;
        padding: 0px;
        padding-bottom: 100px;
    }
}